body {
    font-family: 'Libre Franklin', sans-serif;
    background-color:ghostwhite;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
}
nav {
    background-color: #770000;
    color: #FFCC00;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

h2 {
    margin: 0;
}

#logo {
    margin: 0;
}

#logo a {
    color:#FFCC00;
    text-decoration: none;
}
.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
}

.nav-item {
    margin: 0.5rem;
}

.nav-item a {
    font-weight: 600;
    color: #FFCC00;
    text-decoration: none;
}

#imageGallery {
    background-color: '';
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.button {
    background-color: #FFCC00;
    padding: 0.5rem;
    opacity: 75%;
    margin: 1rem 2rem;
    border-radius: 25px;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.aboutMe-text {
    width: 40rem;
}

.aboutMe img {
    border-radius: 50px;
    border: 3px solid #770000;
    ;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectList h4 {
    margin: 0;
}

.projectList a {
    color: black;
    text-decoration: none;
}

.contact-main {
    text-align: center;
    margin: 5rem 0;
}

.bold {
    font-weight: 800;
}

.email {
    font-style: italic;
    color: #770000;
}